<%= link_to caddy_path(caddie), class:"popup-link-decoration" do %>
  <h2 class="map-h2"><%= caddie.name %></h2>
  <div class="map-flex">
    <div>
      <%= cl_image_tag caddie.photo.key, height: 50, width: 60, crop: :fill %>
    </div>
    <div class="d-flex align-items-center">
      <p class="map-p"><%= caddie.price %>€</p>
    </div>
  </div>
<% end %>
