<div class="container mt-3 mb-5">
  <div class="row">
    <h1>Keep us informed of your caddie's state!</h1>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="form">
      <%= render 'shared/form_caddie', caddie: @caddie %>
    </div>
  </div>
</div>
