<div class="container mt-3 mb-5">
  <div class="row">
    <h1>Fill the form below to give a new life to your caddie</h1>
  </div>
  <div class="row d-flex justify-content-around">
  <div class="form">
    <%= render 'shared/form_caddie', caddie: @caddie %>
  </div>
  </div>
</div>
