<h1>Caddies#show</h1>
<p>Find me in app/views/caddies/show.html.erb</p>

<% if @caddie.reviews.empty? %>
   <p>Il n'y a pas de review pour cet article</p>
<% else %>
  <% @caddie.reviews.each do |review| %>
    <div>
      <%= review.rating %>
    </div>
    <div>
      <%= review.description %>
    </div>
  <% end %>
<% end %>
