<% if @users_with_conversation.empty? %>
  <p>Vous n'avez pas encore de conversation</p>
<% else %>
  <h2>My conversations</h2>
  <% @users_with_conversation.each do |user| %>
    <%= link_to user_messages_path(user) do %>
      <p>Conversation with <%= user.email %></p>
    <% end %>
  <% end %>
<% end %>
