// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #6A93F5;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our theme
$light-purple: rgb(228, 187, 237);
$dark-purple: rgb(196, 150, 206);
