.new-booking-container {
  width: 90%;
  margin: 16px auto;
  text-align: center;
}

.booking-price {
  display: flex;
  margin: auto;
}

.caddie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
