<div class="footer">
  <div class="footer-navigation">
    <ul><strong>France</strong>
      <a href="#"><li>Paris</li></a>
      <a href="#"><li>Lyon</li></a>
      <a href="#"><li>Marseille</li></a>
      <a href="#"><li>Lille</li></a>
      <a href="#"><li>Bordeaux</li></a>
    </ul>
    <ul><strong>Europe</strong>
      <a href="#"><li>Londres</li></a>
      <a href="#"><li>Berlin</li></a>
      <a href="#"><li>Bruxelles</li></a>
      <a href="#"><li>Rome</li></a>
      <a href="#"><li>Madrid</li></a>
    </ul>
    <div class="company-social-media">
      <img class="company-logo mb-5" src="https://www.pngkit.com/png/full/300-3001544_download-granny-icon-grandmother-images-clip-art.png" alt="Company Logo">
      <div class="social-medias-logos">
        <a href="#">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter-square"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
        <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <p class="footer-sentence mt-4">© 2020 - Bricolé en 2-2 à Euratech'</p>
</div>

