
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand avatar" href="#">
    <img src="https://www.pngkit.com/png/full/300-3001544_download-granny-icon-grandmother-images-clip-art.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link color-secondary mr-3" href="/caddies/new">Add a Caddie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-secondary mr-3" href="#">Rent a Caddie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-secondary mr-4" href="#">My Caddies</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://www.pngkit.com/png/full/300-3001544_download-granny-icon-grandmother-images-clip-art.png" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">My Profile</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</div>
