.btn-perso {
  border-radius: 10px;
  background: transparent;
  color: rgb(196, 150, 206);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(196, 150, 206);
  display:flex;
  align-items: center;

  &:hover {
    background: rgb(196, 150, 206);
    color: white;
  }
}

.btn-perso2 {
  border-radius: 10px;
  background: white;
  color: rgb(196, 150, 206);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(196, 150, 206);
  display:flex;
  align-items: center;

  &:hover {
    background: rgb(196, 150, 206);
    color: white;
  }
}
