.container-index {
  margin: 16px auto;
  display: flex;
}

#add-caddie {
  background-image: url("https://images.unsplash.com/photo-1447005497901-b3e9ee359928?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
  background-position: right;
  background-size: cover;
  height: 100%;
}
