.filter-parameter{
  color: white;
  margin-top: 22%;
}

.search-index{
  margin-left: 10%;
}

.slidecontainer{
  width: 60%;
  margin-left: 0%;
}

.slider{
  width: 50%;
}


.inputbar{
  width: 100%;
}

.home-search-bar{
  width: 700px;
}

.formy{
  width: 600px;
  form {
    width: 100%;
  }
}

.btn-search{
  background-color: rgb(228, 187, 237);
  color: white;
  height: 100%;
  border-radius: 5px;
}
