.filter-parameter{
  color: white;
  margin-top: 15%;
}



.search-index .slidecontainer .checkbox{
  margin:auto

  }

.search-index{
  margin-left: 220px;
  width:25%
}

.slidecontainer{
width:25%
}


.checkbox{
width:25%
}

.form-control{
  width:60%
}

.slider{
  width:60%
}
