.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  opacity: 0.7;
  width: 100%;
  border-radius: 5px;
  color: rgb(196, 150, 206)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: rgb(196, 150, 206)
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  color: rgb(196, 150, 206)
}

.navbar-btn {
  background: #F1C6DE;
  margin:auto;
  margin-left:10px;
  margin-right:10px;
  border-radius: 10px;
  font-weight: bold;
  color: rgb(196, 150, 206)
}


.nav-link{
  font-family: 'Josefin Sans', sans-serif;
  border-style: solid;
  border-width: 1.5px;
  border-color: transparent;
  color: rgb(196, 150, 206)
}

.color-secondary {
  color: rgb(196, 150, 206);
}


.nav-link:hover {
border-bottom-color: rgb(228, 187, 237);
}


img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}


.dropdown-menu{
  border-radius: 10px;
}

.test {
  background: rgb(196, 150, 206);
}
