.notification-container {
  width: 80%;
  margin: 32px auto;
  color: black;

}

.unread-notification {
  color: black;
}

.read-notification {
  color: $light-purple;
}

.request-action-buttons {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn {
    margin: 0px 8px;
  }
}
