<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

 <div class="row d-flex justify-content-around">
  <div class="form">
    <%= render 'shared/form_review', review: @review, booking: @booking %>
  </div>
</div>
