<div class="container mt-3 mb-5">
  <div class="row d-flex justify-content-around">
    <h2>Rate your last caddie ⭐️</h2>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="form">
      <%= render 'shared/form_review', review: @review, booking: @booking %>
    </div>
  </div>
</div>
